# API Key
23-25_Automatic-Control-Lab/Projects/24_LLM/config.yaml

# Aerosol raw data
23-25_Automatic-Control-Lab/Projects/24_Aerosol/data

# 25_SemanticOSL sim envs
23-25_Automatic-Control-Lab/Projects/25_SemanticOSL/Sim
23-25_Automatic-Control-Lab/Projects/25_SemanticOSL/models

23-25_Automatic-Control-Lab/Projects/25_SemanticOSL/Agent/models
23-25_Automatic-Control-Lab/Projects/25_SemanticOSL/Agent/save
23-25_Automatic-Control-Lab/Projects/25_SemanticOSL/Agent/__pycache__
23-25_Automatic-Control-Lab/Projects/25_SemanticOSL/Agent/config.yaml

23-25_Automatic-Control-Lab/Projects/25_SemanticOSL/Agent2/models
23-25_Automatic-Control-Lab/Projects/25_SemanticOSL/Agent2/save
23-25_Automatic-Control-Lab/Projects/25_SemanticOSL/Agent2/__pycache__
23-25_Automatic-Control-Lab/Projects/25_SemanticOSL/Agent2/config.yaml

# Log files
*.log
.Rproj.user

